
<div class="center jumbotron">
	<h1>Welcome to the Sample App</h1>

	<h2>
	  This is the home page for the
	  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
	  sample application.
	</h2>

	<%= link_to "Sign Up Now" , signup_path, class: "btn btn-large btn-primary" %>
</div>
	<%= link_to image_tag("home_page/rails.png", alt: "Rails logo")  , 'http://rubyonrails.org/' %>
